/* .Navbar {
  min-height: 100vh;
  background-color: rgb(24, 24, 44);
   color:white;
  display:flex;
  justify-content:right;
  display: flex;
    justify-content: space-around;
  padding-top: 25px;
  
} */

a.nav-link{
  text-decoration:none;
  font-size: 20px;
  color:gray;
  text-align: centre
  
}

.socials {
  color: black;
  margin: 20px
}



.App {
  display: flex;
  text-align: center;
  list-style: none;
  padding: top 30px;
  justify-content: space-around;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width:)
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
